<!DOCTYPE html>
<html>
    <head>
        <title>Ratings</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <link rel="stylesheet" href="static/styles.css">
    </head>
        <a href="/"> Ratings </a>

        <div id="login_reg">
            <h4>Login &amp; Registration</h4>
            <p><a href="/register">Register for an Account</a></p>
            <p><a href="/login">Log in</a></p>
            <p><a href="/logout">Log out</a></p>
        </div>
        
        <hr>

    <body>
        {% block content %} put the content here {% endblock %}
    </body>
</html>